body {
  /* text-align: center; */
  background-color: cornsilk;
  color : black;
}

p{text-align: left;
}

.AppHeader {
  text-align: center;
  background-color: cornsilk;
  color : black;
}
/* .AppHeader {
  background-color: cornsilk;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

.App-link {
  color: #61dafb;
}


